.header-section-bg{
    background-color: #FFF9F4;
}
.orange-color-text{
    color:#FA804C;
}
.blue-half-text{
    color: #363958;
}
.shoe-bg-color{
    background-color: #F1F1F1;
}
.custom-font{
    font-family: 'Roboto Condensed', sans-serif;
}